/*Mobile*/
@media only screen and (max-width: 768px){
    #keyboard{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    
        width: 33vh;
        height: 33vh;
    
        gap: 3%;
    }
    
    .keyboard-key:nth-child(17){
        grid-area: 5/2/5/4;
    }
    
    .keyboard-key:nth-child(18){
        grid-area: 5/4/5/5;
    }
    
    .keyboard-key{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
  
/*Desktop*/
@media only screen and (min-width: 768px){
    #keyboard{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    
        width: 25vw;
        height: 25vw;
    
        gap: 3%;
    }
    
    .keyboard-key:nth-child(17){
        grid-area: 5/2/5/4;
    }
    
    .keyboard-key:nth-child(18){
        grid-area: 5/4/5/5;
    }

    .keyboard-key{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}