.stone{
    height: 15vmin;
    width: 15vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stone svg{
    height: 15vmin;
    width: 15vmin;
}

.number-on-rock{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 8vmin;
    text-shadow: 4px 3px 5px black;
    display: flex;
}

#current-expression{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#stones{
    position: relative;
}

#expression-div{
    width: 90%;
    height: 5vmin;
    font-size: 5vmin;
    background-color: var(--mc);
    color: var(--bg);
}

.stones-animating div{
    opacity: 0;
}

.stones-animating::before{
    animation: explosion-animation 500ms cubic-bezier(.19,.78,.43,1) 0ms 1;
    transform: scale(3);
}

#stones::before{
    content: " ";
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27utf-8%27%3F%3E%3Csvg version=%271.1%27 id=%27Camada_1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27 x=%270px%27 y=%270px%27 viewBox=%270 0 560 560%27 style=%27enable-background:new 0 0 560 560%3B%27 xml:space=%27preserve%27%3E%3Cstyle type=%27text/css%27%3E.st0%7Bfill:%23FAC132%3B%7D.st1%7Bfill:%23FCD736%3B%7D.st2%7Bfill:%23FCD93E%3B%7D.st3%7Bfill:%23FEE9AB%3B%7D%3C/style%3E%3Cg%3E%3Cpath id=%27XMLID_15_%27 class=%27st0%27 d=%27M221.1 334.8c-42.1 10.3-79.9 31.6-120.3 46.3c-9.1 3.3-21.8 15.3-28.1 1c-7.5-16.9 11.9-16.9 20.9-20.9c42.6-18.8 85.8-36.4 128.4-59.4c-54 0-107.9 0.1-161.9-0.1c-11.5 0-23.6 2.4-33.9-5.4c0-3.6 0-7.2 0-10.9c9.4-7.2 20.4-5.4 31.1-5.4c58.3-0.1 116.6-0.1 174.9-0.2c10.8 1.9 21.7 3.8 32.5 5.8c0.4 5.3 0.8 10.6 1.2 15.9C249.5 310.8 239.9 329 221.1 334.8z%27/%3E%3Cpath id=%27XMLID_14_%27 class=%27st1%27 d=%27M281.4 546.3c-8.6-12.3-5.2-26.2-5.3-39.5c-0.5-48-0.4-95.9-0.5-143.9c-0.3-13.2 5.3-24.2 14.5-36.7c3.1 9.9 5.5 17.9 8 26c-0.2 54.2-0.3 108.5-0.5 162.7c0 10.7 1.6 21.8-5.4 31.4C288.7 546.3 285.1 546.3 281.4 546.3z%27/%3E%3Cpath id=%27XMLID_13_%27 class=%27st0%27 d=%27M194.5 14c4.6 11.5 9.2 23 14 34.5c3.2 7.7 2.5 14.6-5.8 17.7c-7.3 2.7-11.2-2.9-13.9-9c-6.2-13.8-12.6-27.5-10.5-43.2C183.7 14 189.1 14 194.5 14z%27/%3E%3Cpath id=%27XMLID_12_%27 class=%27st0%27 d=%27M298.3 229.9c16.1-41.9 32.3-83.9 48.4-125.8c2.9-7.6 5.9-15.1 9.1-22.6c2.8-6.7 6-15 15.2-11.3c10.3 4.1 7.3 12.4 4.3 20.6c-16.9 46.6-33.5 93.4-50.2 140.1c-7.7 15.6-16.1 31.1-16.5 49.2c0 0-0.7 0.6-0.7 0.6c-8.8-8-18.4-13.7-31-10.6c-18.6-7.6-37.3-15.1-55.9-22.7c-17.1-32.1-48.4-52.1-69.4-81.1c-11.5-15.9-27.8-28.4-41.7-42.6c-5.1-5.2-11.1-10.9-3.8-18.4c7.2-7.5 13.4-2.2 18.4 3.3c26.2 28.5 56.6 52.7 80.2 84.1c13.3 17.8 31.7 31.7 53.8 53.2c-16-44.1-29.4-81.1-42.8-118c-2.2-5.9-4.5-11.8-7.1-17.6c-3.4-7.6-3.5-14.9 4.9-18.2c9.1-3.6 13 4 15.6 10.8c10.7 27.8 21.1 55.7 31.4 83.6c4.3 11.6 6.5 24.2 15.3 33.7c-0.1 11.7 3.4 22 10.4 31.5C295.3 245.6 297.1 237.9 298.3 229.9z%27/%3E%3Cpath id=%27XMLID_11_%27 class=%27st0%27 d=%27M298.2 352.2c-2.5-8.1-5-16.1-8-26c-9.2 12.5-14.8 23.5-14.5 36.7c-8.1 6.6-7.8 17.4-12.6 25.6c-3.1 5.3-5.8 12.3-13.6 9.8c-9-2.8-8-10.7-6.1-17.7c3.3-11.9 7.3-23.6 11-35.3c5.5-12.7 10.9-25.4 16.4-38.1c10.8 6.5 21.5 7.1 32.2-0.1c15.9 2.3 27.5 12 38.7 22.4c38.7 39.1 77.6 78 116 117.4c6.2 6.3 20.2 13.1 10.1 23.7c-12.1 12.7-18.9-3.3-25.5-9.8c-37.3-36.5-73.9-73.7-115.1-115c0.4 23.6 10.7 37.5 15.2 52.9c2.3 8 6.9 16.7-3.8 20.7c-11.1 4.2-13.1-6.6-16.5-13.4C313.2 388.5 310.1 368.4 298.2 352.2z%27/%3E%3Cpath id=%27XMLID_10_%27 class=%27st0%27 d=%27M341.5 252.5c34.1-3 61.8-24 93.4-33.9c6.9-2.1 13.1-6.1 19.9-8.5c8.7-3 20.1-12.4 25.4 1.7c5.1 13.6-9.9 15.1-18 18.7c-27.2 12-55 22.9-82.5 34.4c-8 3.3-15.7 7.1-22.8 15.2c45.5 0 91 0 136.5 0c7.2 0 14.5-0.2 21.7 0.1c8.8 0.3 20.5-1.4 19.9 11.8c-0.5 10.8-11.1 9.8-19.1 9.9c-32.6 0.1-65.1 0-97.7 0.1c-19.9 0-39.8 0.3-59.7 0.4c-18.3-0.5-33-11.4-49.6-16.8c-0.5-1.6-0.8-3.2-0.9-4.9c0 0 0.7-0.6 0.7-0.6C319.6 270.8 333.2 264.8 341.5 252.5z%27/%3E%3Cpath id=%27XMLID_9_%27 class=%27st1%27 d=%27M298.3 229.9c-1.2 8-3 15.7-12 21.6c-7-9.5-10.6-19.8-10.4-31.5c0.1-52.4-0.1-104.7 0.4-157.1c0.1-9.7-4.8-25.4 11.5-25.1c13.7 0.3 9.8 14.9 9.8 24.1C298.1 117.9 298.1 173.9 298.3 229.9z%27/%3E%3Cpath id=%27XMLID_8_%27 class=%27st1%27 d=%27M341.5 252.5c-8.3 12.3-21.9 18.3-32.8 27.5c0.4-18.1 8.7-33.5 16.5-49.2c19.7-5.3 31.1-21.9 42-36.1c23.7-31.1 53.7-55.7 80-84c5.2-5.6 11.4-14.2 20.1-5.6c8.7 8.6 0 14.6-5.3 20.2C421.9 167.8 381.7 210.1 341.5 252.5z%27/%3E%3Cpath id=%27XMLID_7_%27 class=%27st2%27 d=%27M221.1 247.3c18.6 7.6 37.3 15.1 55.9 22.7c-4.1 5.3-8.2 10.5-12.3 15.8c-10.8-1.9-21.7-3.8-32.5-5.8c-21.2-15.4-46.8-21.2-70-32.3c-7.6-3.7-19.9-5.8-14.4-18c5.3-11.8 15.3-4.9 23.3-1.9C187.8 234 204.4 240.7 221.1 247.3z%27/%3E%3Cpath id=%27XMLID_6_%27 class=%27st2%27 d=%27M309 285.5c16.6 5.5 31.3 16.3 49.6 16.8c6.9 9.4 18.9 9.2 27.9 14.8c5.8 3.6 10.8 7.4 7.2 14.9c-3.3 6.8-9 7.5-15.9 4.8c-11.6-4.5-23-10.5-36.2-7.3c-11.2-10.4-22.8-20.1-38.7-22.4C306.8 300.5 309.2 293.3 309 285.5z%27/%3E%3Cpath id=%27XMLID_5_%27 class=%27st2%27 d=%27M429.9 335c9.2 6 26 4 29.8 20c1.7 7-5.8 12.4-12.1 10.3c-11.3-3.7-25.8-4.3-30.2-18.4C415.3 340 420.2 335.2 429.9 335z%27/%3E%3Cpath id=%27XMLID_4_%27 class=%27st2%27 d=%27M112.4 211.3c-1.8 8.7-7.9 11-14.3 9.1c-10.7-3.2-24.8-3.7-27.2-17.6c-1.7-9.8 7.7-11.4 14.9-9.2C96.4 196.6 109.2 197.8 112.4 211.3z%27/%3E%3Cpath id=%27XMLID_3_%27 class=%27st1%27 d=%27M270.6 307.3c-5.5 12.7-10.9 25.4-16.4 38.1c-26.4 11.7-40.4 37.4-61.7 54.8c-5.9 4.9-11.3 14.6-20.1 6.8c-10.7-9.4 0.4-15.4 5.6-22c13.6-17.3 35.5-27.6 43-50.1c18.8-5.8 28.5-24 44.8-33.2C267.5 303.5 269 305.4 270.6 307.3z%27/%3E%3Cpath id=%27XMLID_2_%27 class=%27st0%27 d=%27M228.3 464.7c-11.6-0.6-13.8-6.9-12.1-13.3c2.8-11 3.5-24.5 16.7-28.7c7.9-2.4 11.7 4.6 10.6 11.6C241.6 446.6 238.4 458.7 228.3 464.7z%27/%3E%3Cpath id=%27XMLID_1_%27 class=%27st3%27 d=%27M270.6 307.3c-1.6-1.9-3.2-3.7-4.7-5.6c-0.4-5.3-0.8-10.6-1.2-15.9c4.1-5.3 8.2-10.5 12.3-15.8c12.6-3.1 22.2 2.7 31 10.6c0.1 1.7 0.4 3.3 0.9 4.9c0.2 7.9-2.2 15-6.1 21.6C292.1 314.4 281.4 313.7 270.6 307.3z%27/%3E%3C/g%3E%3C/svg%3E");
    width: 100%;
    opacity: 0;
}

@keyframes explosion-animation {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

/*Mobile*/
@media only screen and (max-width: 768px){
    #game-div{
        width: 45vh;
        height: 53vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
  
/*Desktop*/
@media only screen and (min-width: 768px){
    #game-div{
        width: 60vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}